.ee-editor-template-config {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  min-width: 300px;
  box-shadow: -2px 0 2px 0 rgba(0,0,0,.07);
  border-left: 1px solid #d1d4d7;
  /*border-left: 1px solid #5b84e9;*/
  background-color: #fdfdfe;
  z-index: 1;
}

.ee-editor-template-config-tab {
  padding: 10px;
  margin: 0;
  width: 100%;
  color: #4e5b68;
  background: #fff;
  /*color: white;
  background: linear-gradient(left, #7aa0ff, #897AFF);*/
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.08);
}

.ee-editor-template-config > section {
  flex: 1;
}
